

/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";


.round-image-50 {
  background-color: white;
  position: relative;
  border: 1px solid #d9d9d9;
  padding: 0px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100%;}
}

.caret {
  position: absolute;
  left:40%;
  bottom:0;
}
